###  1. Import the dataset personality_scores.csv. Examine the data frame for duplicates (based on ID), and drop any duplicates that exist. Use an assert statement to check that the new data frame is the length of the unique entries of the original data frame.

#### Importing  datasets and libraries

In [1]:
import pandas as pd
from pandas.util.testing import assert_frame_equal
import numpy as np

In [2]:
personality_score = pd.read_csv("personality_scores.csv", sep = ";")
departments = pd.read_csv("departments.csv", sep = ";")

#### Making a copy of a dataframe to dropping duplicates and null values, Also used  assert_frame_equal to compare the two DataFrames

In [3]:
personality_score_2 = personality_score.copy()

In [4]:
personality_score_2.drop_duplicates(subset ="ID", 
                     keep = False, inplace = False)

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
personality_score_2.dropna(axis=1, how='all', inplace=True)

In [ ]:
assert_frame_equal(personality_score, personality_score_2)

### 2. Create new columns containing the total score of each of the personality test subscales. To do this, write a function (or functions) that will calculate the total score for each of the subscales (conscientiousness, emotional stability, openness to new experience, agreeableness, extraversion), as set out in scoring. In other words, for the conscientiousness total score, all items marked as belonging to ‘conscientiousness’ should be summed.

#### Function that tallies the scores of subscales and used lambda function to assign sums to the created columns.

In [6]:
def convertData(row, Nums_Cat):
    count = 0
    touch = 0
    for values in personality_score_2.columns:
        lst = row[values]
        if type(lst) == str:
            cat = lst[1]
            result = int(lst[4])
            if cat == Nums_Cat:
                count += result
    return count

In [7]:
personality_score_2['Conscienctiousness'] = personality_score_2.apply(lambda row : convertData(row,'3'), axis = 1)
personality_score_2['Emotional_Stablility'] = personality_score_2.apply(lambda row : convertData(row,'4'), axis = 1)
personality_score_2['Openness'] = personality_score_2.apply(lambda row : convertData(row,'5'), axis = 1)
personality_score_2['Agreeable'] = personality_score_2.apply(lambda row : convertData(row,'2'), axis = 1)
personality_score_2['Extraversion'] = personality_score_2.apply(lambda row : convertData(row,'1'), axis = 1)

In [8]:
personality_score_2

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.],Conscienctiousness,Emotional_Stablility,Openness,Agreeable,Extraversion
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",48,36,42,40,30
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",46,40,42,46,42
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",40,38,42,40,28
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",38,40,38,38,30
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",46,38,36,34,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 5)",38,44,44,48,32
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 3)",40,44,34,48,40
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",40,46,48,44,42
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 3)","(2, 3)","(1, 1)","(5, 1)","(4, 3)",48,36,44,38,36
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,"(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 3)",42,40,30,44,22

### 3.Import the data in departments.csv. Merge this data frame with the personality score data frame, keeping all applicants within the department data frame. Use an assert statement to check that the newly created merged data frame has the same amount of rows as the department data frame, and the expected number of columns.

 #### Merging two dataframes personality_score_2 and departments and using assert_frame_equal

In [9]:
personality_score_2_merged = pd.merge(personality_score_2,departments, on=None, how='outer')

In [10]:
personality_score_2_merged

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.],Conscienctiousness,Emotional_Stablility,Openness,Agreeable,Extraversion,Department
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",48,36,42,40,30,Data
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 5)","(5, 3)","(4, 3)",46,40,42,46,42,Data
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",40,38,42,40,28,Data
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(1, 5)","(5, 1)","(4, 1)",38,40,38,38,30,Data
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",46,38,36,34,28,Data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 3)","(1, 1)","(5, 1)","(4, 5)",38,44,44,48,32,Web dev
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 5)","(5, 1)","(4, 3)",40,44,34,48,40,Web dev
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 5)","(1, 5)","(5, 3)","(4, 3)",40,46,48,44,42,Web dev
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 3)","(1, 1)","(5, 1)","(4, 3)",48,36,44,38,36,Web dev
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,"(2, 3)","(1, 1)","(5, 1)","(4, 3)",42,40,30,44,22,Web dev

In [ ]:
assert_frame_equal(personality_score_2_merged, personality_score_2)

### 4.Filter the merged data frame so that you get only the applicants who scored less than 30 on emotional stability, conscientiousness AND agreeableness. Print the ID numbers and departments of these applicants to the screen, and also assign these applicants the tag “high_risk” in a new column. All other applicants get the tag “low_risk”

#### Creating a new dataframe called Risk_status and it measures risk status based on the given conditions

In [11]:
Risk_status =pd.DataFrame(personality_score_2_merged[['ID','Conscienctiousness','Emotional_Stablility','Openness','Agreeable','Extraversion','Department']])

In [12]:
Risk_status

,ID,Conscienctiousness,Emotional_Stablility,Openness,Agreeable,Extraversion,Department
0,0,48,36,42,40,30,Data
1,1,46,40,42,46,42,Data
2,2,40,38,42,40,28,Data
3,3,38,40,38,38,30,Data
4,4,46,38,36,34,28,Data
...,...,...,...,...,...,...,...
1550,1550,38,44,44,48,32,Web dev
1551,1551,40,44,34,48,40,Web dev
1552,1552,40,46,48,44,42,Web dev
1553,1553,48,36,44,38,36,Web dev
1554,1554,42,40,30,44,22,Web dev

In [13]:
Risk_status['risk_status'] = np.where(
    (Risk_status['Emotional_Stablility'] < 30) & \
    (Risk_status.Conscienctiousness < 30) & (Risk_status.Agreeable < 30), 'High risk', 'Low risk'
)
Risk_status.head()

,ID,Conscienctiousness,Emotional_Stablility,Openness,Agreeable,Extraversion,Department,risk_status
0,0,48,36,42,40,30,Data,Low risk
1,1,46,40,42,46,42,Data,Low risk
2,2,40,38,42,40,28,Data,Low risk
3,3,38,40,38,38,30,Data,Low risk
4,4,46,38,36,34,28,Data,Low risk

### 4. Create a new data frame with a count of the number of low and high risk applicants within each department. Let each department be a separate column.

In [14]:
# we are calling the columns, grouping them and making them into a DataFrame 
summary = Risk_status[['risk_status', 'Department']].groupby(['risk_status', 'Department']).size()
pd.DataFrame(summary)

                           0
risk_status Department
High risk   Copywriting    1
            Data           1
Low risk    Copywriting  325
            Data         328
            Design       120
            Strategy     449
            Web Dev      170
            Web dev      161