####  1. Import the dataset personality_scores.csv. Examine the data frame for duplicates (based on ID), and drop any duplicates that exist. Use an assert statement to check that the new data frame is the length of the unique entries of the original data frame.

In [7]:
import pandas as pd
from pandas.util.testing import assert_frame_equal
import numpy as np

In [8]:
personality_score = pd.read_csv("personality_scores.csv", sep = ";")
departments = pd.read_csv("departments.csv", sep = ";")

In [3]:
personality_score_2 = personality_score.copy()

In [4]:
personality_score_2.dropna(axis=1, how='all', inplace=True)

In [5]:
personality_score

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
assert_frame_equal(personality_score, personality_score_2)

AssertionError: DataFrame are different

DataFrame shape mismatch
[left]:  (1555, 70)
[right]: (1555, 51)

In [ ]:
personality_score_2

#### 2. Create new columns containing the total score of each of the personality test subscales. To do this, write a function (or functions) that will calculate the total score for each of the subscales (conscientiousness, emotional stability, openness to new experience, agreeableness, extraversion), as set out in scoring. In other words, for the conscientiousness total score, all items marked as belonging to ‘conscientiousness’ should be summed.

In [ ]:
def convertData(row, Nums_Cat):
    count = 0
    touch = 0
    for values in personality_score_2.columns:
        lst = row[values]
        if type(lst) == str:
            cat = lst[1]
            result = int(lst[4])
            if cat == Nums_Cat:
                count += result
    return count

In [ ]:
personality_score_2['Conscienctiousness'] = personality_score_2.apply(lambda row : convertData(row,'1'), axis = 1)
personality_score_2['Emotional_Stablility'] = personality_score_2.apply(lambda row : convertData(row,'2'), axis = 1)
personality_score_2['Openness'] = personality_score_2.apply(lambda row : convertData(row,'3'), axis = 1)
personality_score_2['Agreeable'] = personality_score_2.apply(lambda row : convertData(row,'4'), axis = 1)
personality_score_2['Extraversion'] = personality_score_2.apply(lambda row : convertData(row,'5'), axis = 1)

In [ ]:
personality_score_2

#### 3.Import the data in departments.csv. Merge this data frame with the personality score data frame, keeping all applicants within the department data frame. Use an assert statement to check that the newly created merged data frame has the same amount of rows as the department data frame, and the expected number of columns.

In [ ]:
personality_score_2_merged = pd.merge(personality_score_2,departments, on=None, how='outer')
personality_score_2_merged.head()

In [ ]:
assert_frame_equal(personality_score_2_merged, personality_score_2)

#### 2.Filter the merged data frame so that you get only the applicants who scored less than 30 on emotional stability, conscientiousness AND agreeableness. Print the ID numbers and departments of these applicants to the screen, and also assign these applicants the tag “high_risk” in a new column. All other applicants get the tag “low_risk”

In [ ]:
Risk_status =pd.DataFrame(personality_score_2_merged[['ID','Conscienctiousness','Emotional_Stablility','Openness','Agreeable','Extraversion','Department']])

In [ ]:
Risk_status

In [ ]:
Risk_status['risk_status'] = np.where(Risk_status['Conscienctiousness']==14, 'high risk', 'low risk')

In [ ]:
Risk_status

In [ ]:
Risk_status.loc[85:85 :]

In [ ]:
High_risk = personality_score_2_merged[(personality_score_2_merged["Emotional_Stablility"] <30) & (personality_score_2_merged["Conscienctiousness"]<30) & (personality_score_2_merged["Agreeable"]<30) ]

In [ ]:
High_risk

In [ ]:
def risk(columns):
    if(columns<30):
        return 'High risk'
    else:
        return 'Low risk'

personality_score_2_merged['risk'] = personality_score_2_merged.apply(risk)